/* giao dien cho pc */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
    .hiden-on-tablet {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    body {
        padding: 0;
    }
    .show-on-mobile {
        display: none;
    }
    .about_infor {
        margin-left: 0;
        padding: 0 10px;
    }
    .footer_row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}
@media screen and (max-width: 991.98px) and (min-width: 768px) {
    .hiden-on-tablet {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .show-on-mobile {
        display: block;
    }
    .hiden-on-mobile {
        display: none;
    }
    .menu-overplay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        z-index: 1;
    }

    .menu-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: var(--bgcl);
        padding: 20px;
        transform: translateX(-100%);
        z-index: 2;
        transition: all 0.3s ease;
    }
    .menu_checkbox:checked ~ .menu-overplay {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .menu_checkbox:checked ~ .menu-content {
        transform: translateX(0);
        transition: all 0.3s ease;
    }

    .navbar label svg {
        width: 30px;
        height: 30px;
        color: var(--btn-color);
    }
    .guarantee-icon:hover {
        background-color: var(--hover);
    }
    .container {
        border: none;
    }
    .header .navbar {
        position: relative;
    }
    .navbar .nav-name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .guarantee {
        display: grid;
    }
    .guarantee-item {
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .about_inner {
        display: grid;
        grid-template-columns: 1fr;
    }
    .skill__inner {
        display: grid;
        justify-content: center;
    }
    .skill_left {
        width: 100%;
    }
    .skill_right {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 520px) {
    .head-content {
        margin-top: 50px;
    }
    .head-img {
        margin-bottom: 30px;
    }
    .footer_row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-list {
        margin-top: 30px;
    }
    .foote-item {
        padding: 20px 0;
    }
    .skill_right {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}
